# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Variables de entorno (¡MUY IMPORTANTE!)
.env
*.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Migrations locales (opcional - descomenta si no quieres subirlas)
# */migrations/*.py
# !*/migrations/__init__.py
